<ion-view view-title = "Log Item">
	<ion-content>
		<form ng-submit="doSubmit(teamData)">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Team Name</span>
					<input type="text" ng-model="teamData.teamname" placeholder="Basement Lions">
				</label>
				<label class="item item-input">
					<span class="input-label">Team Number</span>
					<input type="tel" ng-model="teamData.teamnumber" placeholder="5806">
				</label>

				<ion-toggle ng-model="teamData.high" toggle-class="toggle-calm">Can score in high goal</ion-toggle>
				<ion-toggle ng-model="teamData.low" toggle-class="toggle-calm">Can score in low goal</ion-toggle>
				<ion-toggle ng-model="teamData.tower" toggle-class="toggle-calm">Can scale the tower</ion-toggle>
				<ion-toggle ng-model="teamData.portcullis" toggle-class="toggle-calm">Can cross the portcullis</ion-toggle>
				<ion-toggle ng-model="teamData.cheval" toggle-class="toggle-calm">Can cross the cheval de frise</ion-toggle>
				<ion-toggle ng-model="teamData.ramparts" toggle-class="toggle-calm">Can cross the ramparts</ion-toggle>
				<ion-toggle ng-model="teamData.moat" toggle-class="toggle-calm">Can cross the moat</ion-toggle>
				<ion-toggle ng-model="teamData.drawbridge" toggle-class="toggle-calm">Can cross the drawbridge</ion-toggle>
				<ion-toggle ng-model="teamData.sally" toggle-class="toggle-calm">Can cross the sally port</ion-toggle>
				<ion-toggle ng-model="teamData.rock" toggle-class="toggle-calm">Can cross the rock wall</ion-toggle>
				<ion-toggle ng-model="teamData.rough" toggle-class="toggle-calm">Can cross the rough terrain</ion-toggle>
				<ion-toggle ng-model="teamData.lowBar" toggle-class="toggle-calm">Can go under the low bar</ion-toggle>

				<label class="item">
					<span class="input-label">Type of robot</span>
					<ion-radio ng-model="teamData.type" ng-value="'Offensive'">Offensive</ion-radio>
					<ion-radio ng-model="teamData.type" ng-value="'Neutral'">Neutral</ion-radio>
					<ion-radio ng-model="teamData.type" ng-value="'Defensive'">Defensive</ion-radio>
				</label>

				<label class="item">
					<span class="input-label">Ideal starting position</span>
					<ion-radio ng-model="teamData.pos" ng-value="'Left'">Left</ion-radio>
					<ion-radio ng-model="teamData.pos" ng-value="'Middle'">Middle</ion-radio>
					<ion-radio ng-model="teamData.pos" ng-value="'Right'">Right</ion-radio>
				</label>


				<label class="item">
					<span class="input-label">Describe the autonomous</span>
					<textarea ng-model="teamData.auto" placeholder="The best ever, scores 15 points"></textarea>
				</label>
				<label class="item">
					<span class="input-label">Describe their testing process/robot reliability</span>
					<textarea ng-model="teamData.testing" placeholder="Have a test bot"></textarea>
				</label>
				<label class="item">
					<span class="input-label">Describe match performance</span>
					<textarea ng-model="teamData.match" placeholder="Won every match, scored 9090901934132847982134 points"></textarea>
				</label>

				<label class="item">
					<span class="input-label">Other comments</span>
					<textarea ng-model="teamData.comments" placeholder="These are some comments"></textarea>
				</label>

				<label class="item">
					<button class="button button-block button-positive" type="submit">Submit</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>