<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Scan Item Tab -->
	<ion-tab title="Enter Item" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/scanItem">
		<ion-nav-view name="scanItem"></ion-nav-view>
	</ion-tab>

	<!-- Inventory Tab -->
	<ion-tab title="Inventory" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/inventory">
		<ion-nav-view name="inventory"></ion-nav-view>
	</ion-tab>

	<!-- Personal Tab -->
	<ion-tab title="Personal" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/personal">
		<ion-nav-view name="personal"></ion-nav-view>
	</ion-tab>


</ion-tabs>
